<% controller=params[:controller] %>

<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">

      <% #@navside_nodes.each do |value|  %>
      <!--<li><a href="<%#= construct_path(@navisde_path.last, value) %>">View<%#= value %></a></li>-->
      <% #end  %>


      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],1]) %>
          <li><a href="/<%= controller %>/view1">Sidebar 1</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],2]) %>
          <li><a href="/<%= controller %>/view2">Sidebar 2</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],3]) %>
          <li><a href="/<%= controller %>/view3">Sidebar 3</a></li>
      <% end %>

      <% if current_user.has_right?([ApplicationHelper::CONTROLLER_MAP[controller],4]) %>
          <li><a href="/<%= controller %>/view4">Sidebar 4</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],5]) %>
          <li><a href="/<%= controller %>/view5">Sidebar 5</a></li>
      <% end %>

      <% if current_user.has_right?([ApplicationHelper::CONTROLLER_MAP[controller],6]) %>
          <li><a href="<%= controller %>/view6">Sidebar 6</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],7]) %>
          <li><a href="/<%= controller %>/view7">Sidebar 7</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],8]) %>
          <li><a href="/<%= controller %>/view8">Sidebar 8</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],9]) %>
          <li><a href="/<%= controller %>/view9">Sidebar 9</a></li>
      <% end %>

      <% if current_user.has_right?([1,ApplicationHelper::CONTROLLER_MAP[controller],10]) %>
          <li><a href="/<%= controller %>/view10">Sidebar 10</a></li>
      <% end %>


    </ul>
  </div>
</div>